name: Docker Image CI

on:
  schedule:
    - cron: '4 20 1 * 4'
  push:
    branches:
      - main
      - develop
      - 'feature/*'
      - 'release/*'
      - 'renovate/*'


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Log into DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log into GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Tags
        id: meta
        run: |
          branch=$(echo "${GITHUB_REF#refs/heads/}" | tr '/' '-')
          tags="ghcr.io/${{ github.repository }}:${branch},${{ github.repository }}:${branch}"
          if [[ $(date '+%d') == 01 || "${{ github.event_name }}" == "push" && "$branch" == "main" ]]; then
            tags="${tags},ghcr.io/${{ github.repository }}:latest,${{ github.repository }}:latest,\
                  ghcr.io/${{ github.repository }}:$(date '+%Y-%m-%d'),${{ github.repository }}:$(date '+%Y-%m-%d')"
          fi
          echo "::set-output name=tags::${tags}"

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          buildkitd-flags: 

      - name: Build and push Docker image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64, linux/riscv64
